/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

body , html{
 font:11px Arial, Helvetica, sans-serif; color:#231f20; background:url(../images/49860_bg.png) repeat-y left top; height:100%;}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Css Layout */
#wrapper {width:100%; overflow:hidden; background:url(../images/49860_wraperbg.png) right top repeat-y; min-height:100%}
#blueBar { height:8px; background:url(../images/49860_bluebar.png) repeat-x left top; margin-bottom:30px;}
#mainContainer, #header{ overflow:hidden; margin:0 auto; width:978px;}
#bodysection { overflow:hidden; margin-top:13px;}
#leftpanel{ width:332px; float:left; background:#1da0cf; padding:8px;}
.innerLeft { border:7px solid #43b7e1; padding:25px 35px; font:bold 14px/18px Arial, Helvetica, sans-serif; color:#fff; min-height:385px}
.innerLeft a { color:#fff; background:url(../images/49860_arrow.png) no-repeat right center; padding-right:11px}
.innerLeft a:hover { text-decoration:none;}
#loginModule { padding:7px 0px; background:#fff; color:#767676; margin-top:21px; font:normal 11px/12px Arial, Helvetica, sans-serif;}
#loginModule fieldset { border:0px; margin-left:24px;}
#loginModule label { display:block; margin-top:5px; text-transform:uppercase; font-weight:bold}
#loginModule .inputField { border:1px solid #999999; padding:1px 4px;  width:198px; margin:6px 0px 0px 0px; font: italic 11px Arial, Helvetica, sans-serif; color:#767676}
.logon {margin:9px 0px;}

#loginModule h3{ margin:0px 10px 7px 24px; font-size:11px;}
.greentext {}
.greentex a, #facebookContainer  a{ color:#5a8000; font-weight:bold; font-size:11px; padding:0px;}
.greentex a:hover , #facebookContainer  a:hover { text-decoration:none;}

#rightPanel{ float:right; width:630px;}
#facebookContainer { padding:16px 0px 19px 2px; margin-bottom:6px; border-bottom:1px solid #c7c7c7; color:#666666;}
#facebookContainer img { vertical-align:middle; margin-right:9px;}

#footer { overflow:hidden; font-size:11px; line-height:11px; margin-bottom:45px; }
#footer ul { margin:0px 0px 0px 15px}
#footer ul li {list-style-type:none; float:left;}
#footer ul li+li {border-left:1px solid #c7c7c7;   padding:0px 0px 0px 6px; margin:0px 0px 0px 5px; }
#footer a { color:#767676; text-decoration:none;  display:inline-block;}
#footer a:hover { text-decoration:underline;}
.buttonContainer { margin-top:21px;}
/* Misc Classes */
.container { overflow:hidden;}
.clearBoth { clear:both;}
.floatLeft{ float:left;}
.floatRight{ float:right;}
.centerAlign { text-align:center;}


/* */
.banner{background:url(../images/49860_banner.png) no-repeat; width:974px; height:429px;}
.contenttext{font:normal 16px Arial; color:#ffffff; text-align:center; padding-top:295px; padding-bottom:30px;}
.contenttext a{color:white;}
.ht3{height:3px; font-size:3px;}
a.link{color:#ffffff;}
.button{background:url(../images/49860_btnbg.png) no-repeat; width:175px; height:38px; font:bold 14px Arial; color:#ffffff; cursor:pointer; text-align:center; padding-top:10px;margin:0 auto;}
.button a{color:white; text-decoration:none;}
.txtright{text-align:right;}
.copyright{color:#767676;}
.commlogo{padding-right:5px;}